<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507627130402-u1qqa1vj5dfck37emko1aa6hpomo0qu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507627130402-u1qqa1vj5dfck37emko1aa6hpomo0qu1</string>
	<key>API_KEY</key>
	<string>AIzaSyBq_3FT_MxDgGjKKbS-IRynNBI9nRXTx-0</string>
	<key>GCM_SENDER_ID</key>
	<string>507627130402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.admin</string>
	<key>PROJECT_ID</key>
	<string>democracy-b4638</string>
	<key>STORAGE_BUCKET</key>
	<string>democracy-b4638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507627130402:ios:b9bf07eb9b6231d990c47b</string>
</dict>
</plist>